li {
  font-size: 19px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
  margin-top: 40px;
  margin-bottom: 25px;
}
